body{
    margin: 0;
    padding: 0;
}

.chatroom-container{
    display: block;  /* this needs to be changed back to none */
}

.form-username{
    display: none; /* just remove it after dev */
}


.chatroom-header{
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 0.75rem;
}

.messages{
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: #e1e1e1;
}

.message{
    background-color: #DCF8C6;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    width: fit-content;
}

.sent{
    align-self: flex-end;
}